/* === RESET BÁSICO === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* === HOME === */
body {
  background: #f5f6fa;
}

/* Contenedor de la página de inicio */
.home {
  text-align: center;
  background: #f5f6fa;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #1e3a8a;
  color: white;
  padding: 15px;
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content button {
  padding: 10px 20px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-content button:hover {
  background: #3749b1;
}
